<div id="div-main-body">
<h1>Calendar#new</h1>
<p>Find me in app/views/calendar/new.html.erb</p>


<%= form_for @new_calendar, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	
	<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> </span>
     </div>
     <%= f.text_field :starts_at, autofocus: true, autocomplete: "starts_at", class: "form-control", placeholder: "Jour" %>
    </div>
    <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> </span>
     </div>
     <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id", class: "form-control", placeholder: "Numéro Utilisateur" %>
    </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> </span>
     </div>
     <%= f.text_field :pace, autofocus: true, autocomplete: "pace", class: "form-control", placeholder: "Rythme" %>
    </div> <!-- form-group// -->
	
	<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> </span>
     </div>
     <%= f.text_field :recurring, autofocus: true, autocomplete: "recurring", class: "form-control", placeholder: "Récurrence" %>
    </div>



    <div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> </span>
     </div>
     <%= f.text_field :duration, autofocus: true, autocomplete: "duration", class: "form-control", placeholder: "Duration" %>
    </div>


	<div class="form-group">
      <%= f.submit "Enregistrer", class: "btn btn-primary btn-block" %>
    </div> <!-- form-group// -->   

<% end %>

</div>


<%= link_to "Retour", :back, class: "btn btn-default btn-block" %>





