<div id="div-main-body">
<div>
	Hello, bienvenue sur ta page personnelle
</div>
<br>
<div>
	Ton mail est: <%= @user_email %>
</div>
<div>
	Ton Prénom est: <%= @user_first_name %>
</div>
<div>
	Ton Nom est: <%= @user_last_name %>
</div>
<div>
	Ton Métier est: <%= @user_job %>
</div>
<div>
	Ta Nationalité est: <%= @user_nationality %>
</div>
<div>
	Ton Téléphone est: <%= @user_phone %>
</div>
<div>
	Ton Adresse est: <%= @user_adress %>
</div>
<div>
	Ton Code Postal est: <%= @user_zip_code %>
</div>
<div>
	Ta Disponibilité est: <%= @user_availability %>
</div>

</div>

<div>

<%= link_to 'Ajouter une Disponibilité', new_calendar_path %>
<%= link_to 'Modifier mon Profil', edit_user_registration_path %>
<%= button_to 'Mon CV', resume_path(Resume.last.id), method: :get %>
<%= button_to 'Ma Carte Vitale', carte_vitale_path(CarteVitale.last.id), method: :get %>
<%= button_to 'Ma Diplôme', diploma_path(Diploma.last.id), method: :get %>
<%= button_to "Ma Carte d'identité", id_path(Id.last.id), method: :get %>
<%= button_to "Mon KBIS", kbi_path(Kbi.last.id), method: :get %>
<%= button_to "Mon Permis de conduire", permis_b_path(PermisB.last.id), method: :get %>
</div>





<div id="div-calendar-main">

<%= month_calendar do |date| %>
	<% l = @user_avail_starts_at.length %>
	<% a = 0 %>
	<%= date %>
		<% while l > 0 %>
			<% if date == Calendar.find(@user_avail_starts_at[a]).starts_at %>
				<div id="div-date-calendar"> 
					<div> Dispo ok </div> 
				</div>
			
			<% end %>
			<% f = Calendar.find(@user_avail_starts_at[a]).duration - 1 %>
			<% while f > 0 %>

				<% if date == Calendar.find(@user_avail_starts_at[a]).starts_at + f.days %>
					<div id="div-date-calendar"> 
						<div> Dispo ok </div> 
					</div>
				<% end %>
				
				<% f -= 1 %>
			<% end %>
			<% a += 1 %>
			<% l -= 1 %>
		<% end %>	
<% end %>

</div>
