<div id="div-main-body-profile">
	<%= incomplete_profile %>

	
	<div id="div-border-profile">
		<div id="div-profile-header">
			<div id="profile-name">
				<%= hello_name_profile %> 
			</div>
			<div id="div-profile-sub-header-icons">	
				<% if @user_resume != nil %>
					<div id="div-icon-3" style="color: green;">
					<i class="far fa-file fa-2x"></i>
					<div id="div-icon-legend"> <%= link_to 'CV', resume_path(@user_resume.id) %> </div>
				</div>
				<% else %>
					<div id="div-icon-3" style="color: #DE2F57;">
						<i class="far fa-file fa-2x"></i>
						<div id="div-icon-legend"> <%= link_to 'CV', new_resume_path %> </div>
					</div>
				<% end %>
				
				<% if @user_id != nil %>
					<div id="div-icon-2" style="color: green;">
						<i class="far fa-id-card fa-2x"></i>
						<div id="div-icon-legend-1"><%= link_to 'ID', resume_path(@user_id.id) %></div>
					</div>
				<% else %>
					<div id="div-icon-2" style="color: #DE2F57;">
						<i class="far fa-id-card fa-2x"></i>
						<div id="div-icon-legend-1"><%= link_to 'ID', new_id_path %></div>
					</div>
				<% end %>

				<% if @user_carte_vitale != nil %>
					<div id="div-icon-2" style="color: green;">
						<i class="far fa-address-card fa-2x"></i>
						<div id="div-icon-legend-4"> <%= link_to 'Carte Vitale', carte_vitale_path(@user_carte_vitale.id) %> </div>
					</div>
				<% else %>
					<div id="div-icon-2" style="color: #DE2F57;">
						<i class="far fa-address-card fa-2x"></i>
						<div id="div-icon-legend-4"> <%= link_to 'Carte Vitale', new_carte_vitale_path %></div>
					</div>
				<% end %>

				<% if @user_diploma != nil %>	
					<div id="div-icon-1" style="color: green;">
						<i class="fas fa-user-graduate fa-2x"></i>
						<div id="div-icon-legend-2"> <%= link_to 'Diplômes', diploma_path(@user_diploma.id) %> </div>
					</div>
				<% else %>
					<div id="div-icon-1" style="color: #DE2F57;">
						<i class="fas fa-user-graduate fa-2x"></i>
						<div id="div-icon-legend-2"> <%= link_to 'Diplômes', new_diploma_path %></div>
					</div>
				<% end %>
				
				<% if @user_permis_b != nil %>
					<div id="div-icon-2" style="color: green;">
						<i class="fas fa-car-side fa-2x"></i>
						<div id="div-icon-legend-3">  <%= link_to 'Permis', permis_b_path(@user_permis_b.id) %> </div>
					</div>
				<% else %>
					<div id="div-icon-2" style="color: #DE2F57;">
						<i class="fas fa-car-side fa-2x"></i>
						<div id="div-icon-legend-3">  <%= link_to 'Permis', new_permis_b_path %> </div>
					</div>
				<% end %>

				<% if @user_rib != nil %>
					<div id="div-icon-2" style="color: green;">
						<i class="far fa-credit-card fa-2x"></i>
						<div id="div-icon-legend">  <%= link_to 'R I B', rib_path(@user_rib.id) %></div>
					</div>
				<% else %>
					<div id="div-icon-2" style="color: #DE2F57;">
						<i class="far fa-credit-card fa-2x"></i>
						<div id="div-icon-legend">  <%= link_to 'R I B', new_rib_path %></div>
					</div>
				<% end %>

				<% if @user_kbis != nil %>
					<div id="div-icon-1" style="color: green;">
						<i class="far fa-building fa-2x"></i>
						<div id="div-icon-legend-4"> <%= link_to 'KBIS', kbi_path(@user_kbis.id) %> </div>
					</div>
				<% else %>
					<div id="div-icon-1" style="color: #DE2F57;">
						<i class="far fa-building fa-2x"></i>
						<div id="div-icon-legend-4"> <%= link_to 'KBIS', new_kbi_path %> </div>
					</div>
				<% end %>
			</div>
		</div>
		<div id="identite">
			<div id="identite-info">
				<div id="identite-sub">
					IDENTITE<br><br>
					<div>
						Ton mail est: <%= @user_email %>
					</div>
					<div>
						Ton Prénom est: <%= @user_first_name %>
					</div>
					<div>
						Ton Nom est: <%= @user_last_name %>
					</div>
					<div>
						Ton Métier est: <%= @user_job %>
					</div>
					<div>
						Ta Nationalité est: <%= @user_nationality %>
					</div>
					<div>
						Ton Téléphone est: <%= @user_phone %>
					</div>
					<div>
						Ton Adresse est: <%= @user_adress %>
					</div>
					<div>
						Ton Code Postal est: <%= @user_zip_code %>
					</div>
					<div>
						Ta Disponibilité est: <%= @user_availability %>
					</div>
					<br>
					<%= link_to 'Modifier mon Profil', edit_user_registration_path %> <br>
					<%= link_to 'Modifier mon Compte Utilisateur', edit_user_registration_path %>
					
				</div>
				<div id="identite-sub">
					MINI CALENDAR <br><br>
					<%= week_calendar number_of_weeks: 2 do |date| %>
						<%= date.day %>
						<% length_avail = @user_avail_starts_at.length %>
						<% a = 0 %>

						<% while length_avail > 0 %>
							<% if date == Calendar.find(@user_avail_starts_at[a]).starts_at %>
								<div id="div-date-calendar"> 
									<div> Dispo ok </div> 
								</div>
							
							<% end %>
							<% f = Calendar.find(@user_avail_starts_at[a]).duration - 1 %>
							<% while f > 0 %>

								<% if date == Calendar.find(@user_avail_starts_at[a]).starts_at + f.days %>
									<div id="div-date-calendar"> 
										<div> Dispo ok </div> 
									</div>
								<% end %>
								
								<% f -= 1 %>
							<% end %>
							<% a += 1 %>
							<% length_avail -= 1 %>
						<% end %>
						<% length_contract = @user_contract_starts_at.length %>
						<% b = 0 %>
						<% while length_contract > 0 %>
							<% if date == Contract.find(@user_contract_starts_at[b]).starts_at %>
								<div id="div-date-work-contract"> 
									<div> Work day </div> 
								</div>
							<% end %>
							
							<% b += 1 %>
							<% length_contract -= 1 %>
						<% end %>
					<% end %>
					<%= link_to 'Mes Calendriers', calendar_index_path %>
					<%= link_to 'Ajouter une Disponibilité', new_calendar_path %>
				</div>
				<div id="identite-sub">
					CONTRAT EN COURS<br><br>
					
				<% @all_contracts.each do |contrat| %>
					<% if contrat.user_id == current_user.id && contrat.starts_at < DateTime.now && contrat.ends_at > DateTime.now %>
						<div>Contrat n°<%= contrat.id %> </div>
						<div>Client n°<%= contrat.client_id %></div>
						<div>Poste: <%= contrat.job %></div>
						<div>Démarre le: <%= contrat.starts_at.strftime "%d-%m-%Y" %></div>
						<div>Se termine le: <%= contrat.ends_at.strftime "%d-%m-%Y" %></div>
						<div>Taux horaire: <%= contrat.hourly_rate %> €/h</div>
						<div>Adresse mission: <%= contrat.adress %></div>
						<div>Zip Code: <%= contrat.ZIP_CODE %></div>
						<div>Commentaires: <%= contrat.comments %></div>
						<div>Crée le: <%= contrat.created_at.strftime "%d-%m-%Y" %></div>
					<% else %>
						<div> Pas de contrat en cours </div>
					<% end %>
				<% end %>
				<br>
					<%= link_to 'Mes Contrats', contract_index_path %>
					<%= link_to 'Mes Devis', request_index_path %>
				</div>
			</div>
			
		</div>
	</div>
	<div id="div-border">
		<div id="contrats">
			<div>
				<%= button_display_resume %>
			</div>

			<div>
				<%= button_display_carte_vitale %>
			</div>

			<div>
				<%= button_display_diploma %>
			</div>

			<div>
				<%= button_display_id %>
			</div>

			<div>
				<%= button_display_kbis %>
			</div>

			<div>
				<%= button_display_permis_b %>
			</div>

			<div>
				<%= button_display_rib %>
			</div>
		</div>
	</div>
</div>
